/* 顶部导航样式 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 160px;
}
.navbar-right{
    display: flex;
    align-items: center;/* 导航右侧水平对齐 */
}
.navbar-link {
    margin-right: 10px; /* 调整链接之间的间距，根据需要调整 */
    text-decoration: none;
    padding: 8px;
    color: #000000; /* 链接文字颜色，根据需要调整 */
}
.navbar{
    background-color: #fff;
    border: #ff4b4b 1px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px 160px;
}

/* 正文 */
.container{
    display: flex;
}
/* 左侧边栏样式 */
.sidebar {
    width: 200px;
    background-color: #e0e0e0;
    padding: 10px;
}

.menu-item {
    margin-bottom: 5px;
    color: #333;
    cursor: pointer;
}

.menu-item:hover {
    text-decoration: underline;
}

.sub-menu {
    display: none;
    padding-left: 10px;
}

.sub-menu a {
    display: block;
    margin-bottom: 3px;
    color: #555;
    cursor: pointer;
}

.sub-menu a:hover {
    text-decoration: underline;
}

/* 右侧内容区域样式 */
.main-content {
    flex: 1;
    padding: 10px;
}
