<link rel="stylesheet" href="navbar.css">

<header class="navbar">
    <div class="navbar-left">
        <a href="index.html" class="navbar-link">welcome to Shanghai</a>
    </div>
    <div class="navbar-right">
        <a href="aboutme" class="navbar-link">关于我</a>
        <div class="language-switch">
            <label for="language">Language:</label>
            <select id="language">
                <option value="en">English</option>
                <option value="zh">中文</option>
            </select>
        </div>
    </div>
</header>


